               /* -----Сommon styles----- */

               @font-face {
                   font-family: "Open Sans";
                   src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.woff2");
                   font-weight: 400;
                   font-style: normal;
               }

               @font-face {
                   font-family: "Open Sans";
                   src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
                   font-weight: 700;
                   font-style: bold;
               }

               * {
                   margin: 0;
                   padding: 0;
                   border: 0;
                   box-sizing: border-box;
               }

               body {
                   font-family: "Open Sans", "Arial", sans-serif;
                   font-weight: normal;
                   font-size: 15px;
                   line-height: 1.47;
               }

               ul, ol {
                   list-style: none;
               }

               a {
                   text-decoration: none;
               }

               h1, h2, h3, h4, h5, h6 {
                   text-transform: uppercase;
               }

               h1 {
                   font-size: 45px;
               }

               h2 {
                   font-size: 20px;
               }

               h3 {
                   font-size: 14px;
               }

               /*------------------Form styles--------------------*/

               .button {
                   padding: 16px 25px;
                   vertical-align: middle;
                   font-size: 14px;
                   text-transform: uppercase;
                   font-weight: bold;
                   color: #ffffff;
                   background-color: #b59f5b;
               }

               .button:hover {
                   background-color: #000000;
               }

               .input {
                   width: 100%;
                   padding: 17px 17px;
                   font-size: 13px;
                   background-color: #f4f7f6;
               }

               .input:focus {
                   outline: none;
                   border: 1px solid #b59f5b;
               }

               .select {
                   background-repeat: no-repeat;
                   background-image: url("../svg/form-arrows.svg");
                   background-position: 305px center;
                   background-size: 10px 20px;
                   color: #707171;
                   -moz-appearance: none;
                   -webkit-appearance: none;
                   appearance: none;
               }

               .select:focus {
                   color: #000000;
               }

               .radio {
                   position: relative;
                   width: 1px;
                   height: 1px;
                   clip: rect(1px, 1px, 1px, 1px);
                   margin-right: 25px;
               }

               .radio:checked::after {
                   background-image: url("../svg/form-circle.svg");
               }

               .radio::after {
                   content: "";
                   position: absolute;
                   width: 20px;
                   height: 20px;
                   top: -15px;
                   background-image: url("../svg/form-empty-circle.svg");
                   background-repeat: no-repeat;
                   background-size: cover;
               }

               .textarea {
                   font-family: inherit;
                   resize: none;
                   min-height: 130px;
               }

               /*-----------------Common classes---------------------------------------*/

               .visually-hidden {
                   position: absolute;
                   width: 1px;
                   height: 1px;
                   clip: rect(1px, 1px, 1px, 1px);
               }

               .blackout {
                   position: relative;
               }

               .blackout::before {
                   content: "";
                   position: absolute;
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   background-color: rgba(0, 0, 0, 0.6);
               }

               .section-title {
                   text-align: center;
                   line-height: 1;
               }

               .section-title::after {
                   content: "";
                   display: block;
                   width: 66px;
                   height: 3px;
                   background-color: #e1d9bd;
                   margin: 11px auto 23px auto;
               }

               /*----- Header styles----- */

               .header {
                   background-image: url("../img/banner-bg.jpg");
                   background-color: #666666;
                   background-size: cover;
                   background-position: center;
               }

               .header-content {
                   position: relative;
                   z-index: 2;
                   max-width: 1200px;
                   margin: 0 auto;
                   padding: 26px 15px;
               }

               .header-top-content {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
               }

               .logo {
                   /*display: inline-block;*/
                   width: 182px;
               }

               .menu-button {
                   display: none;
               }

               .menu-list {
                   display: flex;
               }

               .menu-list-item:nth-child(n+2) {
                   padding-left: 35px;
               }

               .menu-list-item a {
                   color: #dbdddc;
                   text-transform: uppercase;
                   font-size: 13px;
               }

               .menu-list-item a:hover {
                   color: #ffffff;
                   text-decoration: underline;
               }

               .header-main-content {
                   display: flex;
                   justify-content: center;
                   padding: 95px 0;
               }

               .header-slogan {
                   max-width: 685px;
                   text-align: center;
                   line-height: 1.66;
                   color: #ffffff;
               }

               /* -----------Content------------- */

               .content-center {
                   display: flex;
                   /* justify-content: space-between;*/
                   max-width: 1200px;
                   margin: 0 auto;
                   padding: 65px 15px;
               }

               /*---------------------------Section Trends------------------*/

               .content-trends {
                   width: 100%;
                   padding-top: 60px;
               }

               .trends-list, .shop-items-list {
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
                   margin-top: 30px;
               }

               .trends-item {
                   display: flex;
                   align-items: flex-end;
                   width: calc(25% - 4px);
                   min-height: 230px;
                   margin-bottom: 3px;
                   padding: 16px 20px;
                   background-color: #eff6f1;
                   background-repeat: no-repeat;
                   background-size: cover;
                   background-position: center;
               }

               .trends-item-one {
                   background-image: url("../img/trend1.jpg");
               }

               .trends-item-two {
                   background-image: url("../img/trend2.jpg");
               }

               .trends-item-three {
                   background-image: url("../img/trend3.jpg");
               }

               .trends-item-four {
                   background-image: url("../img/trend4.jpg");
               }

               .trends-item-wrapper {
                   position: relative;
                   z-index: 2;
                   width: 100%;
                   padding: 33px;
                   border: 3px solid rgba(181, 159, 91, 0.6);
               }

               .trend-title {
                   color: #ffffff;
               }

               /*-----------Main content-------------------*/

               .main-content {
                   margin-right: 120px;
                   flex-grow: 1;
               }

               /* ------Aticle styles------*/

               .article {
                   display: flex;
                   margin-bottom: 60px;
                   /* margin-right: 120px;*/
               }

               .article:last-child {
                   margin-bottom: 0;
               }

               /*---Article image---*/

               .article-image {
                   max-width: 381px
                   /*vertical-align: middle;
                  text-align: center;*/
               }

               /*---Article content---*/

               .article-content {
                   margin-left: 30px;
               }

               .tags {
                   display: flex;
               }

               .tags-item:nth-child(n+2) {
                   padding-left: 20px;
               }

               .tags-item a {
                   vertical-align: top;
                   line-height: 1;
                   font-size: 14px;
                   font-weight: bold;
                   text-transform: uppercase;
                   color: #b59f5b;
               }

               .tags-item a:hover {
                   font-weight: bold;
                   text-decoration: underline;
               }

               .article-title {
                   margin-bottom: 24px;
                   line-height: 1.2;
               }

               .header-link {
                   color: inherit;
               }

               .header-link:hover {
                   color: #b59f5b;
               }

               .article-meta {
                   margin-bottom: 45px;
               }

               .article-date {
                   color: #888888;
                   font-size: 12px;
               }

               .article-author {
                   display: inlain-block;
                   margin-left: 8px;
                   font-size: 12px;
                   font-weight: bold;
               }

               .article-text {
                   font-size: 15px;
                   line-height: 1.47;
                   /* max-height: 90px; 
  overflow: hidden;*/
               }

               .article-text p {
                   margin-bottom: 8px;
               }

               .article-text p:last-child {
                   margin-bottom: 0px;
               }

               /*----- Aside styles-----*/

               .aside-content {
                   width: 270px;
               }

               .aside-section {
                   margin-bottom: 59.5px;
               }

               .aside-section-tags {
                   margin-bottom: 54px;
               }

               /*--- Articals preveiw section---*/

               .preview-article {
                   display: flex;
                   margin-bottom: 21.5px;
               }

               .preview-article-first {
                   margin-top: 28px;
               }

               .preview-image-wrapper {
                   width: 70px;
                   height: 70px;
                   background-color: #f4f7f6;
               }

               .preview-article-content {
                   margin-left: 18px;
               }

               .preview-article-date {
                   display: block;
                   line-height: 1;
               }

               .preview-article-title {
                   margin-top: 3px;
                   line-height: 1.28;
               }

               /*---Search and emailing forms---*/

               .search {
                   display: flex;
               }

               .search-line {
                   width: 220px;
               }

               .search-button {
                   width: 50px;
                   background-image: url("../svg/search.svg");
                   background-position: center;
                   background-size: 20px 20px;
                   background-repeat: no-repeat;
               }

               .subscribe-button {
                   width: 100%;
                   margin-top: 18px;
               }

               /* ---Tags section---*/

               .section-tags-list {
                   display: flex;
                   flex-wrap: wrap;
               }

               .section-tags-item {
                   margin: 0 5px 4px 0;
                   padding: 2px 13px;
                   border: 3px solid #eeeeee;
               }

               .section-tags-item a {
                   font-size: 12px;
                   text-transform: uppercase;
                   color: #000000;
                   font-weight: bold;
               }

               .section-tags-item:hover {
                   border-color: #b59f5b;
                   font-weight: normal;
               }

               /* ---Categories section---*/

               .aside-section-categories {
                   margin-bottom: 55px;
               }

               .categories-item {
                   padding: 10px 0;
                   border-bottom: 1px solid #eeeeee;
               }

               .categories-item:first-child {
                   padding-top: 0px;
               }

               .categories-link {
                   font-weight: bold;
                   font-size: 14px;
                   color: #000000;
               }

               .categories-link:hover, .number-of-posts {
                   color: #b59f5b;
               }

               .number-of-posts {
                   font-size: 12;
               }

               /*-------------------------Section Shope----------------------*/

               .content-shop {
                   max-width: 1200px;
                   margin: 0 auto 65px auto;
                   padding: 0 15px;
               }

               .shop-item {
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   width: calc(100% / 3 - 40px);
               }

               .shop-item picture {
                   padding: 0 20px;
               }

               .shop-item-image {
                   max-width: 100%;
               }

               .shop-item-content {
                   flex-grow: 1;
                   margin-top: -30px;
                   padding: 50px 20px 25px 20px;
                   border: 3px solid rgba(181, 159, 91, 0.6);
               }

               .shop-item-description a {
                   color: #b59f5b;
               }

               .shop-item-description a:hover {
                   text-decoration: underline;
               }

               .price-content {
                   margin-top: 20px;
                   display: flex;
                   justify-content: space-between;
                   align-items: flex-end;
               }

               .shop-item-price {
                   display: flex;
                   flex-direction: column;
               }

               .old-price {
                   font-weight: bold;
                   text-decoration: line-through;
                   line-height: 1;
               }

               .new-price {
                   line-height: 1;
                   font-weight: bold;
                   font-size: 20px;
               }

               /*----- Footer----- */

               .footer {
                   max-width: 1200px;
                   margin: 0 auto;
                   padding: 0 15px;
               }

               /*---Social-icons---*/

               .social-icons {
                   background-color: #f4f7f6;
               }

               .icons-list {
                   display: flex;
                   justify-content: center;
                   padding: 30px 0px;
               }

               .icon-link {
                   display: block;
                   width: 20px;
                   height: 20px;
                   margin-right: 20px;
                   background-repeat: no-repeat;
                   background-position: center;
                   background-size: cover;
               }

               .icon-twitter {
                   width: 25px;
                   background-image: url("../svg/004-twitter.svg");
               }

               .icon-pinterest {
                   background-image: url("../svg/001-pinterest.svg");
               }

               .icon-facebook {
                   background-image: url("../svg/002-facebook-logo.svg");
               }

               .icon-instagram {
                   background-image: url("../svg/005-instagram.svg");
               }

               .icon-tumblr {
                   background-image: url("../svg/003-tumblr.svg");
               }

               /*---Copyright---*/

               .copyright {
                   padding-top: 70px;
                   padding-bottom: 40px;
                   text-align: center;
               }

               .copyright a {
                   color: #999999;
                   font-size: 12px;
               }

               /*-------------------------------Popup section -----------------*/

               .popup-section {
                   position: fixed;
                   z-index: 3;
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   display: none;
                   background-color: rgba(0, 0, 0, 0.6)
               }

               .popup {
                   position: relative;
                   margin: 240px auto 0 auto;
                   width: 390px;
                   padding: 55px 30px 30px 30px;
                   background-color: #ffffff;
               }

               .popup-close-button {
                   position: absolute;
                   top: -26px;
                   right: 0;
                   width: 20px;
                   height: 20px;
                   background-image: url("../svg/form-x.svg");
                   background-color: transparent;
               }

               .popup-form {
                   display: flex;
                   flex-direction: column;
               }

               .popup-form-item {
                   margin-bottom: 25px;
               }

               .form-question {
                   display: block;
                   font-size: 13px;
                   margin-bottom: 10px;
               }

               .radio+span {
                   font-size: 13px;
                   margin-right: 15px;
               }

               .popup-button {
                   width: 100%
               }

               @media(min-width: 641px) and (max-width: 1200px) {
                   .header {
                       background-image: url("../img/banner-bg-tablet.jpg");
                   }
                   .header-content {
                       padding: 40px 35px;
                   }
                   .header-top-content {
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                   }
                   .logo {
                       width: 160px;
                   }
                   .menu-button {
                       display: flex;
                       flex-direction: column;
                       justify-content: space-between;
                       width: 25px;
                       height: 20px;
                       background-color: transparent;
                   }
                   .menu-button-line {
                       width: 100%;
                       height: 20%;
                       background-image: url("../svg/Untitled-2.png");
                   }
                   .menu-list {
                       display: none;
                   }
                   .header-slogan {
                       font-size: 40px;
                       line-height: 1.38;
                   }
                   .content-center {
                       padding: 55px 35px;
                   }
                   .main-content {
                       margin-right: 40px;
                   }
                   .article:last-child {
                       border-bottom: none;
                   }
                   article-title {
                       margin-bottom: 25px;
                   }
                   .article-meta {
                       margin-bottom: 30px;
                   }
                   .content-shop {
                       /*margin: 0 auto 65px auto;*/
                       padding: 0 35px;
                   }
                   .shop-item {
                       width: calc(50% - 20px);
                       margin-bottom: 30px;
                   }
                   .footer {
                       padding: 0 35px;
                   }
               }

               @media (min-width: 641px) and (max-width: 1200px), (max-width: 640px) {
                   .article {
                       flex-direction: column;
                       border-bottom: 3px solid #eeeeee;
                       padding-bottom: 15px;
                       margin-bottom: 40px;
                       /* margin-right: 40px;*/
                   }
                   .article-image-wrapper {
                       margin-bottom: 15px;
                   }
                   .article-image {
                       max-width: 100%;
                   }
                   .article-content {
                       margin-left: 0px;
                   }
               }

               @media (max-width: 640px) {
                   h2 {
                       font-size: 16px;
                   }
                   .header {
                       background-image: url("../img/banner-mobile.jpg");
                   }
                   .header-content {
                       padding: 30px 15px;
                   }
                   .header-top-content {
                       display: flex;
                       flex-direction: column-reverse;
                   }
                   .logo {
                       margin-top: 175px;
                       width: 270px;
                   }
                   .menu {
                       margin-left: auto;
                   }
                   .menu-button {
                       display: flex;
                       flex-direction: column;
                       justify-content: space-between;
                       width: 25px;
                       height: 20px;
                       background-color: transparent;
                   }
                   .menu-button-line {
                       width: 100%;
                       height: 20%;
                       background-image: url("../svg/Untitled-2.png");
                   }
                   .menu-list {
                       display: none;
                   }
                   .header-main-content {
                       padding-top: 30px;
                       padding-bottom: 175px;
                   }
                   .header-slogan {
                       font-size: 26px;
                       line-height: 1.38;
                   }
                   .content-center {
                       flex-direction: column;
                       align-items: center;
                       padding: 45px 15px 0 15px;
                   }
                   .main-content {
                       margin-right: auto;
                       margin-left: auto;
                       margin-bottom: 35px;
                   }
                   article-title {
                       margin-bottom: 10px;
                   }
                   .article-meta {
                       margin-bottom: 15px;
                   }
                   .aside-section {
                       width: 100%;
                       margin-bottom: 35px;
                   }
                   .section-titel {
                       font-size: 16px;
                   }
                   .search label {
                       flex-grow: 1;
                   }
                   .search-line {
                       width: 100%;
                   }
                   .content-shop {
                       /*margin: 0 auto 65px auto;*/
                       padding: 0 15px;
                   }
                   .shop-item {
                       width: 100%;
                       margin-bottom: 30px;
                   }
                   .popup {
                       margin: 55px auto 0 auto;
                       width: 330px;
                       padding: 30px 25px 0 25px;
                   }
               }

               @media (min-width: 641px) and (max-width: 1200px), (orientation: portrait) {
                   .trends-item {
                       width: calc(50% - 4px);
                   }
               }

               @media (max-width: 640px) and (orientation: landscape) {
                   .trends-item {
                       width: calc(50% - 4px);
                   }
               }

               @media (max-width: 640px) and (orientation: portrait) {
                   .trends-item {
                       width: 100%;
                       padding: 16px 16px;
                   }
                   .trends-item-wrapper {
                       padding: 25px 20px;
                   }
               }